<ul>
    <li class='logo'>
        <p class='niceTo'>Nice to</p>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src='../../assets/Meet-U.png' alt='logo'/></a>
    </li>
        <div class='NavLinks'>
        <li>
            <button class='nav-buttons'> Log In</button>
            <button class='nav-buttons'> Sign Up </button>
        </li>
        </div>
        <div class='user-dropdown'>
        <a>Start a new group</a>
        <button>Profile </button>
        </div>
</ul>
