.group-details-page {
    padding:10px 40px;
}

.group-details-page > span{
    font-size:15px;
}

.group-details-page > a {
    color:teal;
    margin-left:5px;
}

.group-details-page > a:hover {
    font-weight:bold;
}
.gd-section-one {
    display:flex;
    flex-direction:row;
    padding-top:20px;
}

.gd-sec-one-right {
    padding-left:25px;
    display:flex;
    flex-direction:column;
    flex:1;
}

.gd-sec-one-right>p {
    margin: 5px 0px;
    color:grey;
}

.gd-section-one img {
    width:500px;
    object-fit:cover;
    object-position:50% 50%;
    height:300px;
    border-radius:10px;
    margin:0px auto;
}
.gd-sec-one-left {
    flex:1;
}

.gd-active{
    padding:15px;
   margin-right:520px;
   background-color:#FF5A5F;
   color:white;
   cursor:pointer;
}

.gd-section-two {
    background-color:rgba(241, 240, 240, 0.916);
    box-sizing:border-box;
    padding:10px 60px;
    margin:20px -45px;
}

.group-event-details {
    background-color:white;
    border-radius:10px;
    width:600px;
}

.group-event-details a {
    color:black;
    text-decoration:none;
}

.ged-sec-one{
    display: flex;
    flex-direction:row;
    padding:30px 30px 0px 30px;

}
#ged-left {
    width:200px;
}

#ged-left >img{
    width:100%;
}
.ged-right {
    display:flex;
    flex-direction:column;
    padding-left:20px;
}

.ged-right h4 {
    margin:0px;
}

.ged-right p {
    font-size:13px;
    color:grey;
}
.time {
    font-size:13px;
    display:flex;
    flex-direction:row;
    color:teal;
}

.time p {
    padding-right: 10px;
    color:teal;
}

#e-description {
    padding-left:30px;
    padding-bottom:30px;
}

.gd-hidden {
    display:none;
}

.gd-active-organizer{
    margin-top:auto;
    background-color:grey;
    color:white;
    cursor:pointer;
    padding:10px 20px;
    width:100%;
    margin-bottom:10px;
}

.gd-manage-buttons {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-end;
    height:100%;

}

.gd-manage-buttons .gd-active-organizer {
    width:100px;
    margin-top:10px;
    margin-right:20px
}

.gd-delete-button {
    height:55px;
}

#gd-organizer {
    color:grey;
    font-size:13px;

}
