<div id='landing-page'>

    <div class='lp-section-one'>
        <div id='lp-sec-one-text'>
            <h1> The People Platform - Where Interests become Friendships</h1>
            <p> Whatever your interest, from hiking and reading to networking and skill sharing,
                there are thousands of people who share it on MeetU.
                Events are happening every day—sign up to join the fun. It's very nice to Meet You!
            </p>

        </div>
        <img src="../../assets/main-image.png" alt='People'/>
    </div>

    <div class='lp-section-two'>
        <h2>How MeetU works</h2>
        <p>Since 2023, members have used MeetU to make new friends, meet like-minded people,
            spend time on hobbies, and connect with locals over shared interests. Learn how.</p>
    </div>

    <div class='lp-section-three'>
        <div class='lp-groups'>
            <img src="../../assets/groups.png" alt='Groups'/>
            <h3><a routerLink="groups">See All Groups</a></h3>
            <p>See who's hosting local events for all the things you love.</p>
        </div>
        <div class='lp-events'>
            <img src="../../assets/events.png" alt='Events'/>
            <h3>Find an Event</h3>
            <p>See all of the local events for all the things you love.</p>
        </div>
        <div [class]="disabled">
            <img src="../../assets/start.png" alt='Start'/>
            <h3><a>Start a New Group</a></h3>
            <p>Create your new MeetU group, and draw from a community of millions.</p>
        </div>
    </div>

    <div class='lp-section-four'>
        <button [class]="hidden">Join MeetU</button>
    </div>

    </div>
