.eventsPage {
    width:700px;
    margin: 10px auto;
}

.events-nav {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}

.events-nav>h2 {
    padding-left:20px;
}

#E-groups-link {
    color:grey;
    font-weight:normal;
    text-decoration:none;
}

#E-groups-link:hover {
    text-decoration:underline;
    cursor:pointer;
}

#E-events-link {
    color:teal;
    cursor:default;
    font-weight:normal;
}

.events-list {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-decoration: none;
}

.event-details {
    display:flex;
    flex-direction:row;
    padding-bottom:20px;
}
.event-details>img{
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:50% 50%;
    flex:1;
}

.event-details-right {
    padding-left:20px;
    flex:1;
}

.events-list a {
    text-decoration:none;
    color:black;

}

.ed-grey-details {
    font-size:13px;
    color:grey;
}

.events-list li {
    border-top:1px solid rgb(194, 191, 191);
    border-bottom: 1px solid rgb(194, 191, 191);
    padding-top: 20px
}

.eventsPage span {
    color:grey;
    padding-left:20px
}
