.lp-section-three {
    display:flex;
    flex-direction:row;
}

.lp-groups,.lp-events,.lp-start-true,.lp-start-false {
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.lp-section-three p {
    text-align:center;
}

.lp-start-true  a, .lp-start-true  p {
    color:grey;
    text-decoration:none;
}

.lp-start-true  a {
    cursor:not-allowed;
}

.lp-section-two {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.lp-groups a,.lp-events a,.lp-start-false a {
    color:teal;
    text-decoration:none;
}

.lp-groups a:hover,.lp-events a:hover,.lp-start-false a:hover {
    text-decoration:underline;
}

.lp-section-one  button {
    background-color:teal;
    color:white;
    padding:10px;
    border-radius:5px;
    border-color:teal;
    box-shadow:none;
    cursor:pointer;
}

.lp-section-one {
    display:flex;
    flex-direction:row;
    width:1000px;
    margin:0px auto;
}

.lp-section-one h1 {
    font-weight:900;
    font-size:40px;
}

#lp-sec-one-text {
    width:750px;
}

.lp-section-one img {
    width: 45%;
}

.lp-section-three img {
    width:300px;
    height:200px;
}
.lp-start-true img {
    opacity:0.5;
}

.hidden-join {
    display:none;
}
