.event-details-page {
    padding:10px 40px;
}

.event-details-page>span{
    font-size:15px;

}

.event-details-page > a {
    color:teal;
    margin-left:5px;
}

.event-details-page > a:hover {
    font-weight:bold;
}
.ed-section-one>p{
    font-size:13px;
    color:grey;
    margin-top:0px;
}
.ed-section-one>h2{
    margin-bottom:5px;
}

.ed-section-two,.ed-section-three {
    background-color:rgba(241, 240, 240, 0.916);
    box-sizing:border-box;
    padding:10px 60px;
    margin:20px -45px;

}

#ed-sec-two-left>img {
    width:100%;
    height:500px;
    object-fit:cover;
    object-position:50% 50%;
    border-radius:10px
}

#ed-sec-two-left {
    flex:1;
    margin-right:40px;
}
.ed-section-two {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.ed-sec-two-right {
    flex:1;
}
.ed-sec-two-right img {
    height:150px;
    width:150px;
    border-radius:10px;
    object-fit:cover;
    object-position:50% 50%;
}
#ed-group-details,.ed-details {
    background-color:white;
    display:flex;
    flex-direction:row;
    padding:20px;
    color:black;
    text-decoration:none;
    border-radius:20px;
    margin-bottom:20px;

}

.ed-gd-right {
    margin-left:30px;
}

#ed-group-details p {
    color:grey;
    margin-top:0px;
}

.ed-details {
    flex-direction:column;
    color:grey;
}

.ed-details-section {
    display:flex;
    flex-direction: row;
    align-items:center;
}
.ed-details-section>p {
    padding-left:20px;
}

#startEnd {
    padding-left:20px;

}
#startEnd>p{
    margin-bottom:5px;
    margin-top:5px;
}

#startEnd span {
    color:teal;
    padding-left:10px;
}

.ed-section-three {
    margin-top:-20px;
}

.ed-section-three>h3{
    margin-top:0px;
}

.ed-active {
    background-color:grey;
    color:white;
    cursor:pointer;
    padding:10px 20px;
    width:100px;
    margin-bottom:10px;
}

.ed-hidden {
    display:none;
}

.ed-details-buttons {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

#ed-update {
    margin-right:20px;
}

@media screen and (max-width:600px) {
    .ed-section-two {
        flex-direction:column;
        padding:5px 30px;
    }
    #ed-sec-two-left>img {
        height:300px;
    }
    #ed-sec-two-left {
        margin-right:0px;
    }
    .ed-section-one >h2 {
        word-wrap: break-word;
    }
}
