.loginForm {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    width:fit-content;
}

.form-login {
    border: 1px solid;
    border-color:rgb(230 230 230/1);
    border-radius: 0.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding:60px 150px;
    margin: 0px auto;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display:inline-flex;
    margin: 0px auto;


}

.errors {
    color: #C80000;
    font-size: 12px;
}

.submitButton {
    background-color:#e32359;
    border-color: #e32359;
    border-radius:8px;
    padding: 8px 12px;
    cursor: pointer;
    color: #fff;
    border-style:outset;
    margin:10px;

}
.form-login > .submitButton {
    width:150%;
}

h4 button, .demo-user {
    border:none;
    text-decoration:underline;
    background-color:white;
    color:#00798a;
    font-size:16px;
}

.form-login .userInput {
    display: flex;
    flex-direction:column;
    padding: 10px
}

input {
    border-color: rgb(202, 194, 194);
    border-width:1px;
    box-shadow:none;
    border-radius:0.5em;
    height:2em;
    background-color:aliceblue;
}

.form-login .userInput>input {
    margin:8px;
}


.userInput {
    width:150%;
}

.demo-user {
    cursor: pointer;
}

.submitButton:disabled {
    cursor:default;
}

@media screen and (max-width:600px) {
    .loginForm {
        width:100%;
    }
    .form-login {
        padding:10px;
    }
    .userInput {
        width:95%
    }
    .form-login > .submitButton {
        width:95%
    }

}
